@import "sanitize.css";
@import "common.css";
@import "back.css";
.title-box3{
    padding: 0.5em 1em;
width: 100%;
margin: 2em 0;
color: #ff7d6e;
background: #696969;
border: solid 20px #fff;
border-bottom: solid 100px #fff;
width: 65vw;
margin: 20px auto;
height: auto;
}
.title-box3-title {
    text-align: center;
    color: black;
}
.button {
    margin-left: 26vw;
}
.cautionbox{
    text-align: center;
    
    padding: 0.5em 1em;
width: 100%;
margin: 3em 0;
color: #ff7d6e;
background: #696969;
border: solid 30px #fff;
border-bottom: solid 100px #fff;
width: 60vw;
    height: auto;
margin: 20px auto;
}

