@import "sanitize.css";
*{
    position: center;
}

#text{
    background-color: transparent;
    border-radius: 15px;
    width: 225px;
    color: yellow;
    text-align: center;
}
h2{
    font-size: 20px;
    font-family: "Arial Black";
}
.shin{
    text-align: center;
}
.shin-inner{

    text-align: left;
    display: inline-block;
}
